<div class='memory-entry' style='padding-bottom: 6px' id='address-{{entry.address}}'>
  {{#if data_xrefs}}
    {{#line-with-address address=entry.address}}
      &nbsp;DATA Xrefs:
      {{#each data_xrefs as |data_xref|}}
        {{memory-address address=data_xref}}
      {{/each}}
    {{/line-with-address}}
  {{/if}}

  {{#if code_xrefs}}
    {{#line-with-address address=entry.address}}
      &nbsp;CODE Xrefs:
      {{#each code_xrefs as |code_xref|}}
        {{memory-address address=code_xref}}
      {{/each}}
    {{/line-with-address}}
  {{/if}}

  {{#line-with-address address=entry.address
                       workspace_id=workspace_id
                       block_name=block_name}}
    {{memory-raw raw=entry.raw}}
    {{memory-value type=entry.type value=entry.value user_defined=entry.user_defined}}
    {{#if entry.comment}}
      ; {{entry.comment}}
    {{/if}}
  {{/line-with-address}}
</div>
