<p>Current revision: {{model.revision}}</p>

<h1>Editor!</h1>

{{editor-widget memory_id=model.id}}

<hr />

<button {{action 'undo' model.id}}>Undo</button>
<button {{action 'redo' model.id}}>Redo</button>

<h1>The memory!</h1>
{{#each model.entries as |entry|}}
{{memory-entry entry=entry showedit='showedit'}}
{{/each}}
